<!doctype html>
<html>
<head>
	<title>Shopping Cart Application</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body class="container">
<header>
	{{!-- <img src="/images/bu-logo.gif" alt="logo"> --}}
	<p>
	<center><b><h1>{{title}}</h1></b></center>
</header>

	{{{body}}}

</body>
</html>


