<!doctype html>
<html>
<head>
	<title>Shopping Cart Application</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body class="container">
<header>
	<p >
		<div style="float: right; margin-top:7px">
			<form class="col-sm-2 text-right" action="/logout" method="get">
				<input type="submit" class="btn btn-black text-right" value="Log out">
			</form>
		</div>
		<div style="text-align:center" class="h1">{{title}}</div>
		<hr>
		
</header>

	{{{body}}}

</body>
</html>


